*.vsconfig
*.csproj
*.sln
TowerDestinySurvive/.vs/
TowerDestinySurvive/Library/
TowerDestinySurvive/Temp/
TowerDestinySurvive/obj/
TowerDestinySurvive/UserSettings/
TowerDestinySurvive/Logs/
TowerDestinySurvive/MemoryCaptures/
TowerDestinySurvive/.utmp/
